*{
    margin: 10;
    padding: 10;  
    font-family: Arial, Helvetica, sans-serif;  
    
}

.divPrincipal{
    /* background-color: aquamarine; */
    width: 50%;
    height: 540px;
    display: flex; 
    justify-content: space-between;    
    position: relative;
    padding: 40px;
    margin: 5% 25% 0 25%;   
}

/* DIV - IMAGEN PRINCIPAL */


.imagen{
    width: 400px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3%; 
    
    }

/* DIV - FORMULARIO */

.formulario{
    width: 500px;
    border: 0.01px solid rgb(226, 217, 217);
    box-shadow: 0px -2px 10px rgba(185, 183, 183, 0.5);
    border-radius: 3%;  
    margin-left: 5%;     
}

/* SECCIÓN REDES */

.seccionRedes{
    display: column;    
}

.signIn{
    
    display: flex;
    justify-content: center;
    color: rgb(20, 20, 20);    
}
.divIconosRedes{
    display: flex;
    justify-content: center;
    text-align: center;  
}

.iconoRed{
    border: 0.1px solid rgb(202, 198, 198);
    border-radius: 10%;
    width: 17%;    
    margin: 4%;
    padding: 2%;
    display: flex;
    justify-content: center;
}


/* TEXTO CENTRAL - OR CONTINUE WITH */

.textoConLinea {
    
    font-size: 15px;
    font-weight: bold;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;    
    height: 1.5em;
    opacity: 0.5;
  }
  .textoConLinea:before {
    content: "";
    background: linear-gradient(to right, transparent, #5e5d5a, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .textoConLinea:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }

/* BOTONES MAIL O NUMBER */

.divBotonesMailNumber{
    display: flex;
    justify-content: space-around; 
    margin-left: 17%;
    margin-right: 17%;

}

.boton{
    
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 115, 28);
    width: 80px;
    border: none;
    border-radius: 7px;
    height: 38px;
}
.boton:hover{
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: white;
    width: 100px;
    border: none;
    border-radius: 7px;
}

.boton2{
    
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: white;
    width: 100px;
    border: none;
    border-radius: 7%;
}
.boton2:hover{
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 115, 28);
    width: 110px;
    border: none;
    border-radius: 7px;
    height: 38px;
}

/* INPUTS FORMULARIO */

.inputsFormulario{
    width: 400px;
    padding: 20px;      
}

.inputsFormulario p{
    font-size: 12px;
    color: #8d8c89;
    font-weight: bold;    
    margin-bottom: 5px;    
}
::placeholder{
    color: #adaaa2;
}

.controls{
    height: 20px;
    width: 75%;
    padding: 7px;
    border-radius: 7px;
    border: 2px solid rgb(190, 187, 187);
    box-shadow: 2px -2px 10px rgba(185, 183, 183, 0.5);
    font-size: 11px;
    color: #6e6a6a;
}


/* BOTON SIGN IN */

.boton3{
    
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 115, 28);
    width: 50%;
    border: none;
    border-radius: 7px;
}

.formularioSignIn{
    text-align: center; 
    font-size: 11px;
    color: #6e6a6a;   
}
.formularioSignIn a{
    color: rgb(255, 115, 28);
}
